$controlHeight: 3rem;
.chat-room {
  .messages {
    height: calc(100vh - 7.75rem - #{$controlHeight});
    overflow: auto;
    display: flex;
    flex-direction: column;

    & > div {
      margin-bottom: .5rem;

      &.self {
        align-self: flex-end;

        span {
          background-color: #279ae6;
          color: #fff;
        }
      }

      &.system {
        align-self: center;

        span {
          background: none;
          padding: 0;
          color: #8c9094;
          font-size: .8rem;
        }
      }

      .content {
        padding: .25rem 0.75rem;
        display: inline-block;
        border-radius: .25rem;
        background-color: #dddddd;
        word-break: break-all;
      }
    }
  }

  .control {
    height: $controlHeight;

    .textarea:not([rows]),
    .textarea {
      overflow: auto;
      padding: .3rem .6rem;
      min-height: auto;
      height: 100%;
    }

  }

}
