
.messages {
    display: flex;
    flex-direction: column;

    & > div {
        margin-bottom: .5rem;
        &:first-child {
            margin-top: .5rem;
        }

        &.self {
            align-self: flex-end;
            background-color: #279ae6;
            color: #fff;
        }

        .content {
            padding: .25rem 0.75rem;
            display: inline-block;
            border-radius: .25rem;
            background-color: #dddddd;
            word-break: break-all;
        }
    }
}
