.life-time {
  padding: 16px 8px;
  overflow: hidden;
}

.time-block {
  display: grid;
  grid-template-columns: repeat(auto-fill, 12px);
  grid-gap: 4px;
  justify-content: center;

  & > div {
    width: 12px;
    height: 12px;
    background-color: rgb(235, 237, 240);

    &.cureent {
      animation: flicker .8s infinite ease-out forwards;
      animation-direction: alternate;
    }

    &.history {
      background-color: rgb(123, 201, 111);
      transition: transform .2s ease-out;

      &:hover {
        transform: scale(1.4);
      }
    }
  }
}

@keyframes flicker {
  0% {
    background-color: #7BC96F;
    transform: scale(1);
  }
  100% {
    background-color: #e34c26;
    transform: scale(1.4);
  }
}