.home {
    & > .columns {
        flex-wrap: wrap;
    }
    .title {
        margin-bottom: 0;
        font-size: 1.5em;
    }

    .media-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 96px;
    }
}
